
body{
    background-color: #d3d3d3;
    padding: 40px 0px 60px 0px;
}

.double-underline{
    text-decoration-line: underline;
    text-decoration-style: double ;
    text-decoration-color: orangered;

}

.btn-container{
        display: flex;
        justify-content: space-between;
}

.new-product-box{
    flex: 1;
    width:450px;
    height: auto;
    text-align: center;
    margin: 20px 0px;

         img{
            width: 100%;
            height: 400px;
            object-fit: contain;
            object-position: center;
         }

         .orangered-btn{
            background-color: orangered;
            color: #fff;
            
        }
    
}

.orangered-text{
    color: orangered;
}

