<BODY>
<h2 class="double-underline">New Product</h2>
<p>The European language are members of the same family. Theie separate exist is a myth.<br>
For Science, music, sports, etc, Europe uses the same vocabularty</p>

<div class="inside-item-container">
    
    <span *ngFor="let record of newProduct">
        <div class="new-product-box">
            
            <mat-card>
                <div class="new-image-box"> 
                    <div class="btn-container">   
                        <button mat-flat-button class="green-btn">NEW</button>
                        <span *ngIf="record.sale">
                            <button mat-flat-button class="orangered-btn">SALE</button>
                        </span>
                    </div>    
                        <img src={{record.image}}>
                </div>

                <mat-card-title>
                    {{record.name}}
                </mat-card-title>
                
                <mat-card-content class="orangered-text">
                    <span *ngIf="record.sale; else elseBlock">
                        ${{record.newprice}}
                        <s>${{record.price}}</s>
                    </span>

                    <ng-template #elseBlock>
                            ${{record.price}}
                    </ng-template>
                </mat-card-content>
            
            </mat-card>
        </div>
    </span>
</div>
</BODY>
