<div class="header-container">
    <div class="logo">
      <img src="assets/images/logo4.png">
    </div>

    <div class="input-area">
        
      <mat-form-field class="search-btn" appearance="outline">
          <input  matInput type="search" placeholder="search..."/>
            <mat-icon matSuffix>search</mat-icon>
      </mat-form-field> 
    </div>
 </div> 

  <mat-divider></mat-divider>
  <div class="header-container">
<mat-toolbar>

  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
        <button mat-button>Home</button> 
        <button mat-button [matMenuTriggerFor]="exploreMenu">Explore <mat-icon>expand_more</mat-icon></button>
        <button mat-button [matMenuTriggerFor]="joomlapagesMenu">Joomla Pages <mat-icon>expand_more</mat-icon></button>
        <button mat-button [matMenuTriggerFor]="bonuspagesMenu">Bonus Pages<mat-icon>expand_more</mat-icon></button>
        <button mat-button [matMenuTriggerFor]="shopMenu">Shop<mat-icon>expand_more</mat-icon></button>
        <button mat-button [matMenuTriggerFor]="livingroomMenu">Living Room <mat-icon>expand_more</mat-icon></button>
        <button mat-button [matMenuTriggerFor]="kitchenMenu">Kitchen<mat-icon>expand_more</mat-icon></button>
        <button mat-button >Contact us</button>
        <button mat-button >About us</button>

      
          <mat-menu #exploreMenu="matMenu">
            <button mat-menu-item>Module Variations</button>
            <button mat-menu-item>Extentions</button>
            <button mat-menu-item>Module positions</button>
            <button mat-menu-item>Typography</button>
            <button mat-menu-item>Shortcodes</button>
            <button mat-menu-item>What's new?</button>
          </mat-menu>

          <mat-menu #joomlapagesMenu="matMenu">
            <button mat-menu-item>Joomla Page1</button>
            <button mat-menu-item>Joomla page2</button>
          </mat-menu>

          <mat-menu #bonuspagesMenu="matMenu">
              <button mat-menu-item>bonus Page1</button>
              <button mat-menu-item>bonus page2</button>
          </mat-menu>

          <mat-menu #shopMenu="matMenu">
              <button mat-menu-item>shop1</button>
              <button mat-menu-item>shop2</button>
          </mat-menu>

            <mat-menu #livingroomMenu="matMenu">
                <button mat-menu-item>LivingRoom1</button>
                <button mat-menu-item>LivingRoom2</button>
            </mat-menu>

              <mat-menu #kitchenMenu="matMenu">
                  <button mat-menu-item>Kitchen1</button>
                  <button mat-menu-item>Kitchen2</button>
              </mat-menu>             
 
  </div>
  <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
    <mat-icon>menu</mat-icon>
  </button>

</mat-toolbar>

<mat-menu #menu="matMenu" fxLayout="column" fxShow="false">
        <button mat-button>Home</button> 
        <button mat-button [matMenuTriggerFor]="exploreMenu">Explore </button>
        <button mat-button [matMenuTriggerFor]="joomlapagesMenu">Joomla </button>
        <button mat-button [matMenuTriggerFor]="bonuspagesMenu">Bonus </button>
        <button mat-button [matMenuTriggerFor]="shopMenu">Shop</button>
        <button mat-button [matMenuTriggerFor]="livingroomMenu">Living Room </button>
        <button mat-button [matMenuTriggerFor]="kitchenMenu">Kitchen</button>
        <button mat-button >Contact us</button>
        <button mat-button >About us</button>

     
          <mat-menu #exploreMenu="matMenu">
            <button mat-menu-item>Module Variations</button>
            <button mat-menu-item>Extentions</button>
            <button mat-menu-item>Module positions</button>
            <button mat-menu-item>Typography</button>
            <button mat-menu-item>Shortcodes</button>
            <button mat-menu-item>What's new?</button>
          </mat-menu>

          <mat-menu #joomlapagesMenu="matMenu">
            <button mat-menu-item>Joomla Page1</button>
            <button mat-menu-item>Joomla page2</button>
          </mat-menu>

          <mat-menu #bonuspagesMenu="matMenu">
              <button mat-menu-item>bonus Page1</button>
              <button mat-menu-item>bonus page2</button>
          </mat-menu>

          <mat-menu #shopMenu="matMenu">
              <button mat-menu-item>shop1</button>
              <button mat-menu-item>shop2</button>
          </mat-menu>

            <mat-menu #livingroomMenu="matMenu">
                <button mat-menu-item>LivingRoom1</button>
                <button mat-menu-item>LivingRoom2</button>
            </mat-menu>

              <mat-menu #kitchenMenu="matMenu">
                  <button mat-menu-item>Kitchen1</button>
                  <button mat-menu-item>Kitchen2</button>
              </mat-menu>
</mat-menu>
</div>

<div class="container">
    <router-outlet></router-outlet>
    </div> 

     
      
      
        