.fill-remaining-space {
    /*This fills the remaining space, by using flexbox.  
   Every toolbar row uses a flexbox row layout. */
   flex: 1 1 auto;
 }

mat-nav-list.list-horizontal{
    display: flex;
    justify-content: space-between;

    .mat-list-item{
        border-right:solid 1px grey;
        white-space: nowrap;
    }
 }

 .logo{
     padding: 10px;
     flex:0 1 1;       
    
     img{
            max-width: 80%;
             height: auto;
         }
 }

 .input-area{
     padding: 50px 0px 10px 0px;
     flex:2;
     max-width: 40%;
 }

 .search-btn {
     width: 100%; 
 }

 .width{
     height:300px;
 }