
.inside-container{
    line-height: 2em ;

    .box{
        flex: 1;
        padding: 20px;
    }
}

.input-area{
    display: block;
}

    .blue-btn{
        background-color:#00BFFF;
        width: 100%;
    }

.footer{
    background-color:#32CD32;
    text-align: center;
    padding:30px;
}