<div class="inside-container">

    <div class="box">
        <h3>Navigation</h3>
        <mat-divider></mat-divider>
        <ul>
       <li><a href="#">Home</a></li>
       <li><a href="#">The BEAR Collection</a></li>
       <li><a href="#">The Sleep Blog</a></li>
       <li><a href="#"> Theme Info</a></li>
    </ul>
    </div>

    <div class="box">
            <h3>Help</h3>
            <mat-divider></mat-divider>
            <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Search</a></li>
            </ul>
    </div>

     <div class="box">
        <h3>About</h3>
        <mat-divider></mat-divider>
        The Retina Shopify theme is designed and developed by <a href="#">Out of the Sandbox.</a> Products and images are courtesy of <a href="#">BEAR.</a>
    </div>

     <div class="box">
        <h3>News & Updates</h3>
        <mat-divider></mat-divider>
        Sign up to get the latest on sales, new releases and more...
        
            <mat-form-field appearance="outline" class="input-area">
                    <input matInput placeholder="Enter your email address"/>
                </mat-form-field>
                <button mat-flat-button class="blue-btn">Sign Up</button>        
     </div>
</div>


<div class="footer">
 &copy; 2019 Secure Link Services AG. All Rights Reserved.
</div>