
body{
    background-color: #fff;
    padding: 40px 0px 80px 0px;
}

.featured-product-box{
    flex: 1;
    width: 300px;
    height:auto;
    margin: 50px 0px;

        img{
            width: 100%;
            height: 300px;
            object-fit: contain;
            object-position: center;
        }
    
}

.grey-btn{
    background-color: grey;
    color: #fff;
}

.orange-text{
    font-weight: bold;
    color: orange;
}
.yellow-btn{
    color: yellow;
}