<body>
        <h2>FEATURED PRODUCT</h2>
        <div class="inside-item-container">

            <span *ngFor="let record of featuredProduct">
                <div class="featured-product-box">


                    <mat-card>
                            <div class="feature-image-box">
                                <button class="green-btn" mat-fab>NEW</button>
                                    <img src={{record.image}}>
                            </div>
                            
                        <mat-divider></mat-divider>

                            <mat-card-title>
                                {{record.name}}
                            </mat-card-title>

                            <mat-card-content>
                                <div class="orange-text">
                                    {{record.price}} &euro;
                                </div>
                                    <span *ngIf="record.rating===3">
                                        <mat-icon class="yellow-btn">star</mat-icon>
                                        <mat-icon class="yellow-btn">star</mat-icon>
                                        <mat-icon class="yellow-btn">star</mat-icon>
                                    </span>
                                    <span *ngIf="record.rating===4">
                                            <mat-icon class="yellow-btn">star</mat-icon>
                                            <mat-icon class="yellow-btn">star</mat-icon>
                                            <mat-icon class="yellow-btn">star</mat-icon>
                                            <mat-icon class="yellow-btn">star</mat-icon>
                                    </span>
                                    <span *ngIf="record.rating===5">
                                                <mat-icon class="yellow-btn">star</mat-icon>
                                                <mat-icon class="yellow-btn">star</mat-icon>
                                                <mat-icon class="yellow-btn">star</mat-icon>
                                                <mat-icon class="yellow-btn">star</mat-icon>
                                                <mat-icon class="yellow-btn">star</mat-icon>
                                    </span>
                                

                                1 Review(s)
                            </mat-card-content>

                            <mat-card-actions>
                                <button mat-raised-button class="grey-btn"><mat-icon >add_shopping_cart</mat-icon>ADD TO CART</button>
                            </mat-card-actions>
                    
                    </mat-card>
                </div>
            </span>
        </div>
</body>