
<app-header></app-header>


<div class="image-bg">
 <div class="inside-container">
     <div class="text-container">
        <mat-list> 
                <mat-list-item>
                    <button mat-fab>20%Off</button>
                    <h1 class="green-text" matLine>Discount gakhi</h1>
                    <h1 matLine >jkdfhsk  dhfh uyfuus ufs dusifh uhdf , a aliquam<br>
                        dsfjoisdfisfinidfjsj</h1>
                </mat-list-item>
        </mat-list>
            <button mat-flat-button class="green-btn"> Shop Now <mat-icon>arrow_forward</mat-icon></button>
     </div>     
 </div>
</div>

<app-offer></app-offer>

<app-featured-products></app-featured-products>

<app-new-product></app-new-product>


<div class="dark-image-bg"> 

        <div class="inside-container">
            <div class="list-horizontal">
                <mat-list> 
                    <mat-list-item class="white-text">
                        <mat-icon matListIcon>local_shipping</mat-icon>
                        <p matLine>FREE SHIPPING</p>
                        <p matLine >INTERNATIONAL</p>
                    </mat-list-item>
                </mat-list>
            </div>

            <div class="list-horizontal">
                <mat-list> 
                    <mat-list-item class="white-text">
                            <mat-icon matListIcon>phone</mat-icon>
                            <p matLine>24 HOURS HELPLINE</p>
                            <p matLine> 123 456 789</p>
                    </mat-list-item>
                </mat-list>
            </div> 
            
            <div class="list-horizontal">
                    <mat-list> 
                        <mat-list-item class="white-text">
                                <mat-icon matListIcon>gift</mat-icon>
                                <p matLine>SEE OUR</p>
                                <p matLine >LATEST OFFERS</p>
                        </mat-list-item>
                    </mat-list>
            </div> 
        </div>
</div>
<app-footer></app-footer>



<div class="container">
<router-outlet></router-outlet>
</div>