
.list-horizontal{
    display: inline-block;
    padding: 0px;

}
.image-bg{
    max-width: 100%;
    height: auto;
    background: url('src/assets/images/bed.jpg') no-repeat center center/contain;
    background-size: cover;
}

.text-container{
    margin:250px 0px; 
}

.dark-image-bg{
    padding: 50px 0px;
    background: linear-gradient(rgba(0,0,0, 0.5),rgba(0,0,0,0.5)), url('src/assets/images/55.jpg') no-repeat center center/cover;

}

.white-text{
    color:white;
}

.green-text{
    color: #32CD32;
}
 