<body>
    <div class="offer-container">
    
        <div class="inside-container">

            <div class="offer-box">
                <div class="img1">
                </div>
            </div>

            <div class="offer-box">
                <div class="img2">
                </div>    
            </div>

            <div class="offer-box">
                <div class="img3">
                </div>    
            </div>


        </div>
    </div>
</body>
