
body{
    padding: 30px;
}

.offer-container{
 background-color: #DCDCDC;
}

.offer-box{
    padding:10px;
    margin: 10px 20px;
    flex:1;
    border: 1px solid grey;

}

.img1{
    padding: 100px;
    background: url('src/assets/images/20.jpg') no-repeat center center/cover;
}

.img2{
    padding: 100px;
    background: url('src/assets/images/21.jpeg') no-repeat center center/cover;
}

.img3{
    padding: 100px;
    background: url('src/assets/images/22.jpg') no-repeat center center/cover;
}
