@import '~@angular/material/theming';

@include mat-core();

$my-theme-primary: mat-palette($mat-yellow);
$my-theme-accent: mat-palette($mat-orange);
$my-theme-warn: mat-palette($mat-pink);

$my-theme: mat-light-theme($my-theme-primary, $my-theme-accent, $my-theme-warn);

@include angular-material-theme($my-theme);