
body{
    background-color:white;
    margin:0px;
    font-family: Arial, Helvetica, sans-serif;
}

.header-container{
    padding: 0px 80px 0px 80px;
    display: flex;
    justify-content: space-between;
}

.mat-form-field-infix {
    padding: 0.5em 0 !important;
  }

.inside-container{
    padding: 0px 80px 0px 80px;
    display: flex;
    justify-content: space-between;
}

.inside-item-container{
    padding: 0px 80px 0px 80px;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

h2, p{
    text-align: center;
}

.green-btn{
    background-color: #32CD32;
    color: #fff;
    font-weight: bold;
}

a:active{
    color:green;
}
  

@media (max-width:800px){
    .inside-container{
        flex-direction: column;
        padding: 0px;
    }

    .header-container{
        padding: 0px 0px 0px 0px !important;
    }
}

@media (max-width:400px){
    .inside-container{
        flex-direction: column;
        padding: 0px;
    }

    .inside-item-container{
        padding: 0px;
        justify-content: center;
    }

    .new-product-box{
        width:300px;
    }

    .header-container{
        padding: 0px 0px 0px 0px !important;
    }
}

